<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bulb Off</title>
    <link rel="stylesheet" href="static/css/bulb.css">
</head>
<body>
<div id="container">
    <img src="/static/image/bulboff.jpg" alt="No Image">

    <form method="post" action="/OnBulb">{%csrf_token%}
        <input type="submit" value="On bulb" id="btn">
    </form>
</div>
</body>
</html>